@media (max-width: 767px) {
    .register .m-v-reg .reg-wr .for-flex{
        flex-direction: column-reverse;
        padding-top: 120px;
        
    }
    .register .m-v-reg .reg-wr .for-flex .side{
        width: 100%;
    }
    .register .m-v-reg .reg-wr .for-flex .side.left-side{
        padding-top: 0;
    }
    .register .m-v-reg .reg-wr .for-flex .photo-wr-1{
        top: 0;
        width: 100%;
    }
    .register .m-v-reg .reg-wr h3{
        padding: 0 15px;
            font-size: 26px;
    }
    .register .m-v-reg .reg-wr .flex-checkboxes .one-checkbox{
        width: 50%;
    }
}

